.one{
	border="4";
	height: 400px;
	width: 1200px;
	background-color: lightblue;
}
.two{
	height: 20px;
	width: 1200px;
	background-color: purple;
	color: white;
}
.three{
	margin-left: 20px;
}
.four{
	border: 2px solid black;
	height: 25px;
	width: 700px;
	margin-left: 25px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
}
.five{
	border: 2px solid black;
	height: 25px;
	width: 700px;
	margin-left: 25px;
	margin-bottom: 20px;
	background-color: black;
	color: white;
}
.six{
	border: 2px solid black;
	height: 25px;
	width: 700px;
	margin-left: 25px;
	margin-bottom: 180px;
	background-color: black;
	color: white;
}
.seven{
	border: 2px solid black;
	height: 110px;
	width: 300px;
	margin-left: 850px;
	margin-top: -300px;
	background-color: black;
	color: white;
	margin-bottom: 180px;
}
.eight{
	height: 20px;
	width: 1200px;
	background-color: purple;
	color: white;

}